pip==25.0.1
oauthlib==3.3.1
grpc-google-iam-v1==0.14.3
requests-oauthlib==2.0.0
google-cloud-storage-control==1.8.0
google-resumable-media==2.8.0
gcsfs==2026.1.0
google-tunix==0.1.3
google-auth-oauthlib==1.2.3
google-cloud-core==2.5.0
libtpu==0.0.30
grpcio-status==1.76.0
python-slugify==8.0.4
types-tqdm==4.67.0.20250809
text-unidecode==1.3
librt==0.7.7
google-crc32c==1.8.0
fsspec==2026.1.0
GitPython==3.1.46
kagglesdk==0.1.14
sentry-sdk==2.49.0
flax==0.12.0
google-auth==2.41.1
gitdb==4.0.12
wandb==0.22.0
mypy==1.19.1
google-cloud-storage==3.7.0
smmap==5.0.2
types-requests==2.32.4.20260107
kaggle==1.8.3
astunparse==1.6.3
array_record==0.8.3
aiosignal==1.4.0
libclang==18.1.1
annotated-types==0.7.0
grain==0.2.15
Werkzeug==3.1.4
jupyterlab_pygments==0.3.0
tensorboard==2.20.0
tensorflow-hub==0.16.1
opencv-python-headless==4.11.0.86
h5py==3.15.1
tensorflow==2.20.0
pure_eval==0.2.3
flake8==7.1.2
pathspec==0.12.1
sentencepiece==0.2.1
cachetools==6.2.4
Flask==3.1.2
simple-parsing==0.1.7
zope.interface==8.1.1
docstring-to-markdown==0.17
fqdn==1.5.1
gin-config==0.5.0
distrax==0.1.7
tensorboardX==2.6.4
toml==0.10.2
mistune==3.1.4
pylatexenc==3.0a33
jsonpointer==3.0.0
comm==0.2.3
websocket-client==1.9.0
ipywidgets==8.1.8
tensorflow-io-gcs-filesystem==0.37.1
namex==0.1.0
qwix==0.1.4
jupyter_client==8.7.0
jupyter_core==5.9.1
jupyter_server_terminals==0.5.3
keras-core==0.1.7
gevent==25.9.1
pydantic_core==2.41.5
click==8.3.1
markdown-it-py==4.0.0
kiwisolver==1.4.10rc0
opt_einsum==3.4.0
multidict==6.7.0
yarl==1.22.0
importlib_resources==6.5.2
jsonschema==4.25.1
pytoolconfig==1.3.1
Markdown==3.10
zope.event==6.1
absl-py==2.3.1
isoduration==20.11.0
jax==0.8.1
webencodings==0.5.1
google_metrax==0.2.4
jaxlib==0.8.1
debugpy==1.8.18
fastjsonschema==2.21.2
pydocstyle==6.3.0
yapf==0.43.0
soupsieve==2.8
fonttools==4.61.1
jraph==0.0.6.dev0
rsa==4.9.1
tomlkit==0.13.3
entrypoints==0.4
tfp-nightly==0.26.0.dev20251215
filelock==3.20.0
astroid==4.0.2
httplib2==0.31.0
charset-normalizer==3.4.4
importlib_metadata==8.7.0
optree==0.18.0
dopamine-rl==3.0.1
cycler==0.12.1
gast==0.7.0
jupyterlab==4.0.0a36
timm==1.0.22
h11==0.16.0
toolz==1.1.0
tpu-info==0.8.0
grpcio==1.76.0
rope==1.14.0
termcolor==3.2.0
cffi==2.0.0
regex==2025.11.3
uri-template==1.3.0
google-api-core==2.28.1
webcolors==25.10.0
pydantic==2.12.5
stringzilla==4.5.1
treescope==0.1.10
omegaconf==2.4.0.dev4
ipython_pygments_lexers==1.1.1
typing_extensions==4.15.0
PyYAML==6.0.3
bleach==6.3.0
notebook==7.0.0a16
ml_dtypes==0.5.4
google-pasta==0.2.0
rfc3987-syntax==1.1.0
gunicorn==23.0.0
scipy==1.17.0rc1
mpmath==1.3.0
etils==1.13.0
opencv-python==4.11.0.86
pandas==3.0.0rc0
certifi==2025.11.12
tensorflow-metadata==1.17.2
aiohappyeyeballs==2.6.1
pyzmq==27.1.0
jupyter-lsp==1.5.1
blinker==1.9.0
referencing==0.37.0
mccabe==0.7.0
scikit-learn==1.8.0
tensorstore==0.1.80
anyio==4.12.0
pyasn1==0.6.1
papermill==2.6.0
docstring_parser==0.17.0
albumentations==2.0.8
urllib3==2.6.2
seaborn==0.13.2
matplotlib-inline==0.2.1
clu==0.0.12
json5==0.12.1
parso==0.8.5
pexpect==4.9.0
ptyprocess==0.7.0
torch==2.8.0+cpu
tensorflow_cpu==2.20.0
multiprocess==0.70.15
hf-xet==1.2.1rc0
snowballstemmer==3.0.1
propcache==0.4.1
nbformat==5.10.4
nest-asyncio==1.6.0
ansicolors==1.1.8
googleapis-common-protos==1.72.0
stack-data==0.6.3
einops==0.8.1
msgpack==1.1.2
tensorflow-io==0.37.1
packaging==25.0
prometheus_client==0.23.1
ipython==9.8.0
nbclient==0.10.2
mesh-tensorflow==0.1.21
jupyter_server==2.17.0
networkx==3.6.1
wrapt==2.0.1
cloudpickle==3.1.2
isort==7.0.0
lark==1.3.1
Pygments==2.19.2
gym-notices==0.1.0
pylint==4.0.4
terminado==0.18.1
accelerate==1.12.0
idna==3.11
rich==14.2.0
babel==2.17.0
httpcore==1.0.9
pyasn1_modules==0.4.2
safetensors==0.7.0
optax==0.2.6
torchaudio==2.8.0+cpu
pycparser==2.23
ml_collections==1.1.0
keras-hub==0.19.0
tensorflow-gan==2.1.0
python-dateutil==2.9.0.post0
tzdata==2025.3
python-lsp-server==1.14.0
ujson==5.11.0
pyflakes==3.2.0
tabulate==0.9.0
ipykernel==7.1.0
aiohttp==3.13.2
immutabledict==4.2.2
notebook_shim==0.2.4
mdurl==0.1.2
diffusers==0.36.0
executing==2.2.1
torch_xla==2.8.0
itsdangerous==2.2.0
matplotlib==3.10.8
wadler_lindig==0.1.7
google-api-python-client==2.187.0
requests==2.32.5
pyparsing==3.3.0b1
albucore==0.0.24
python-dotenv==1.2.1
uritemplate==4.2.0
defusedxml==0.8.0rc2
simsimd==6.5.3
pyarrow==22.0.0
jsonschema-specifications==2025.9.1
kagglehub==0.3.13
numpy==2.4.0rc1
orbax-checkpoint==0.11.31
six==1.17.0
pypng==0.20220715.0
jupyterlab_widgets==3.0.16
proto-plus==1.26.1
kfac==0.2.0
keras==3.12.0
promise==2.3
traitlets==5.14.3
setuptools==80.9.0
gym==0.26.2
rfc3986-validator==0.1.1
threadpoolctl==3.6.0
Send2Trash==1.8.3
protobuf==6.33.2
frozenlist==1.8.0
cramjam==2.11.0
argon2-cffi==25.1.0
datasets==2.14.4
argon2-cffi-bindings==25.1.0
future==1.0.0
rpds-py==0.30.0
jupyter-events==0.12.0
joblib==1.5.3
jmp==0.0.4
dm-haiku==0.0.16.dev0
bz2file==0.98
zipp==3.23.0
prompt_toolkit==3.0.52
torchvision==0.23.0+cpu
pytokens==0.3.0
MarkupSafe==3.0.3
widgetsnbextension==4.0.15
humanize==4.14.0
keras-nlp==0.19.0
jedi==0.19.2
google-auth-httplib2==0.2.1
pillow==12.0.0
jaxtyping==0.3.4
python-lsp-jsonrpc==1.1.2
Jinja2==3.1.6
autopep8==2.0.4
tqdm==4.67.1
typing-inspection==0.4.2
asttokens==3.0.1
simplejson==3.20.2
python-json-logger==4.0.0
contourpy==1.3.3
pycodestyle==2.12.1
tensor2tensor==1.14.0
fastparquet==2024.11.0
tinycss2==1.4.0
aiofiles==25.1.0
tensorflow-datasets==4.9.9
greenlet==3.3.0
wcwidth==0.2.14
jupyterlab_server==2.28.0
tenacity==9.1.2
sympy==1.14.0
oauth2client==4.1.3
platformdirs==4.5.1
nbconvert==7.16.6
beautifulsoup4==4.14.3
rfc3339-validator==0.1.4
tokenizers==0.22.2rc0
dill==0.3.7
tf_keras==2.20.1
whatthepatch==1.0.7
decorator==5.2.1
llvmlite==0.46.0
funcsigs==1.0.2
tornado==6.5.4
httpx==0.28.1
flatbuffers==25.9.23
pandocfilters==1.5.1
trax==1.2.4
tensorboard-data-server==0.7.2
attrs==25.4.0
pluggy==1.6.0
arrow==1.4.0
keras-cv==0.9.0
huggingface-hub==0.36.0
hf_transfer==0.1.9
psutil==7.1.3
black==26.1a1
transformers==4.57.1
wheel==0.45.1
xxhash==3.6.0
async-lru==2.0.5
tensorflow-probability==0.25.0
mypy_extensions==1.1.0
chex==0.1.91
numba==0.63.0b1
dm-tree==0.1.9
